.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: transparent;
  border: solid #0056b3 0.3vmin;
  color: #0056b3;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.scroll-to-top-btn:hover {
  background-color: white;
  border-radius: 50px;
  width: auto;
}
